<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.HowAboutThisDay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/main_icon"
        android:label="이날어때"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/main_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login_function"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Map1"
            android:exported="false" />
        <activity
            android:name=".ViewExercise"
            android:exported="false" />
        <activity
            android:name=".PlusExercise"
            android:exported="false" />
        <activity
            android:name=".EditExercise"
            android:exported="false" />
        <activity
            android:name=".ViewMeal"
            android:exported="false" />
        <activity
            android:name=".EditMeal"
            android:exported="false" />
        <activity
            android:name=".PlusMeal"
            android:exported="false" />
        <activity
            android:name=".ExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".MealActivity"
            android:exported="false" />
        <activity
            android:name=".ViewStudy"
            android:exported="false" />
        <activity
            android:name=".Only_ViewStudy"
            android:exported="false" />
        <activity
            android:name=".PlusStudy"
            android:exported="false" />
        <activity
            android:name=".EditStudy"
            android:exported="false" />
        <activity
            android:name=".AddActivity"
            android:exported="false" />
        <activity
            android:name=".User_activity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Study_activity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity1"
            android:exported="false" />
        <activity android:name=".Only_ViewStudy_modified"
            android:exported="false"/>
        <activity android:name=".ViewStudy_modified"
            android:exported="false"/>
        <activity android:name=".myPlan_activity"
            android:exported="false"/>
        <activity android:name=".ViewExercise_modified"
            android:exported="false"/>
        <activity android:name=".Only_ViewExercise"
            android:exported="false"/>
        <activity android:name=".Only_ViewExercise_modified"
            android:exported="false"/>
        <activity android:name=".ViewMeal_modified"
            android:exported="false"/>
        <activity android:name=".Only_ViewMeal"
            android:exported="false"/>
        <activity android:name=".Only_ViewMeal_modified"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="eb268489004058153ba02884a500eccb" />
    </application>

</manifest>